@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

.navbar{
    background-color: var(--secondary-font-color);
}


.navbar-nav{
    margin-right: 10%;
}

.nav-link{
    padding: 10px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.navbar .navbar-nav .nav-link a,
.navbar .navbar-nav .nav-link:hover{
    color: red;
}

.navbar-brand{
    margin-left: 10%;
}

#hero{
width: 100%;
height: 100vh;
background: url(./images/hero.jpg) center no-repeat;
background-size: cover;
display: flex;
align-items: center;
text-align: center;

}

.sub-headline{
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
}

.first-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline{
    color: #fff;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
}

.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
   
}

.asterik{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin 5s forwards;
    animation-delay: .7s;
}

.single-animation{
    opacity: 0;
    animation: fadeDown 5s forwards;
    animation-delay: 1.5s;

}

.headline-dec h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: 3px;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: .8rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-font-color);
}

.bi-list{
    color: #fff;
    font-size: 30px !important ;
}



@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-22 17:14:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  


.btn-hb{
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-font-color);
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    
}

.btn-hb::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #c59d5f;
    left: 0;
    bottom: -6px;
    transition: .3s;
}

#ref{
    width: 100%;
    height: 80vh;
    background: url(./images/tasteful-recipes.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5%;
        
}

.images-all{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.images-all img{
    width: 50%;
    border: none;
    outline: none;
    opacity: 0.3;
    transition: .3s;
    cursor: pointer;
      
}

.images-all img:hover{
    opacity: 1;
}

#shop{
    width: 100%;
    height: 70vh;
    background: url(./images/perfect-blend.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5%;
        
}

.del{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.del img{
    width: 50%;
    border: none;
    outline: none;
    opacity: 0.3;
    transition: .3s;
    cursor: pointer;
}

.del img:hover{
    opacity: 1;
}

#contact{
    background-color: #252525;
    color: #c59d5f;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
}


.roll-in-left
 {
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
   
 }

 .roll-in-left img{
    opacity: 0.3;
    transition: .3s;
    cursor: pointer;
 }

 .roll-in-left img:hover{
    opacity: 1;
 }








